<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>BSB 통합관제시스템</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <!-- Favicon -->
    <link href="../theme/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="../theme/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../theme/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../theme/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="../theme/css/style.css" rel="stylesheet">

    <!--script-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://kit.fontawesome.com/ee1626188c.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c9969c8662ad8d9cbb5042d8b658f586&libraries=services"></script>
</head>

<body onload=printUpdate(); style="background: #f3f3f3;">
<div class="container-fluid position-relative d-flex p-0">

    <!-- Sidebar Start -->
    <div class="sidebar pe-4 pb-3">
        <div class="">
            <a href="#" class="navbar-brand mx-4 mb-3">
                <h4 class="text-primary">BSB 통합관제시스템</h4>
            </a>

            <div class="navbar-nav w-100">
                <a href="index_test.html" class="nav-item nav-link active"><i class="bi bi-geo-alt-fill me-4"></i></i>Location</a>
                <a href="monitor_test.html" class="nav-item nav-link"><i class="bi bi-display me-4"></i>Monitor</a>
                <a href="info_bat_test.html" class="nav-item nav-link"><i class="bi bi-file-bar-graph-fill me-4"></i>Information</a>
            </div>
        </div>
    </div>
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand bg-primary navbar-dark sticky-top px-4 py-0 shadow">
            <img src="../asset/images/s-images/ba_title.png" style="width: 12%;">

            <div class="navbar-nav align-items-center ms-auto">
                <div class="col-1 w-auto m-auto text-center text-dark" id="clock">
                    <p class="m-2 fs-5">{{date}} {{time}}</p>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link">
                        <i class="bi bi-person-fill">
                            <span class="d-lg-inline-flex fs-4 fst-normal mx-2">Admin</span>
                        </i>
                    </a>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->
        <div class="map_wrap w-100" style="height: 94%">
            <div id="map" class="h-100 position-relative overflow-hidden"></div>
        </div>

        <!-- Footer Start -->
        <!--            <div class="container-fluid pt-4 px-4">-->
        <!--                <div class="bg-secondary rounded-top p-4">-->
        <!--                    <div class="row">-->
        <!--                        <div class="col-12 col-sm-6 text-center text-sm-start">-->
        <!--                            &copy; <a href="#">Your Site Name</a>, All Right Reserved. -->
        <!--                        </div>-->
        <!--                        <div class="col-12 col-sm-6 text-center text-sm-end">-->
        <!--                            &lt;!&ndash;/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/&ndash;&gt;-->
        <!--                            Designed By <a href="https://htmlcodex.com">HTML Codex</a>-->
        <!--                            <br>Distributed By: <a href="https://themewagon.com" target="_blank">ThemeWagon</a>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!-- Footer End -->
    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <!--    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>-->
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="../theme/lib/chart/chart.min.js"></script>
<script src="../theme/lib/easing/easing.min.js"></script>
<script src="../theme/lib/waypoints/waypoints.min.js"></script>
<script src="../theme/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="../theme/lib/tempusdominus/js/moment.min.js"></script>
<script src="../theme/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="../theme/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Clock -->
<script src="../js/clock.js"></script>
<!-- Map -->
<script>

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(35.146887, 126.840188), // 지도의 중심좌표
            level: 12 // 지도의 확대 레벨
        };

    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

    var imageSrc1 = '../asset/images/s-images/marker_test.png', // 마커이미지의 주소입니다
        imageSize1 = new kakao.maps.Size(45, 45), // 마커이미지의 크기입니다
        imageOption1 = {offset: new kakao.maps.Point(20, 40)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.

    // 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
    var markerImage1 = new kakao.maps.MarkerImage(imageSrc1, imageSize1, imageOption1),
        markerPosition1 = new kakao.maps.LatLng(35.146887, 126.840188); // 마커가 표시될 위치입니다

    var marker1 = new kakao.maps.Marker({
        position: markerPosition1,
        image: markerImage1, // 마커이미지 설정
        clickable: true
    });

    marker1.setMap(map);
    /*
        marker2.setMap(map);
    */

    kakao.maps.event.addListener(marker1, 'click', function() {
        location.href="index_info_test.html";
    });

</script>
</body>

</html>