<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>BSB 통합관제시스템</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="../theme/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="../theme/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../theme/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../theme/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="../theme/css/style.css" rel="stylesheet">

    <!--script-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://kit.fontawesome.com/ee1626188c.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c9969c8662ad8d9cbb5042d8b658f586&libraries=services"></script>
</head>

<body onload=printUpdate(); style="background: #f3f3f3;">
<div class="container-fluid position-relative d-flex p-0">

    <!-- Content Start -->
    <div class="w-100">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand bg-primary navbar-dark sticky-top px-4 py-0 shadow">
            <img src="../asset/images/s-images/ba_title.png" style="width: 15%; margin: 1%;">

            <div class="navbar-nav align-items-center ms-auto">
                <div class="col-1 w-auto m-auto text-center text-dark" id="clock">
                    <p class="m-2 fs-5">{{date}} {{time}}</p>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->

        <div class="text-center w-100 pt-2">
            <div class="d-inline-grid w-30 p-4 bg-primary rounded shadow" style="height: 350px; margin: 9%;">
                <h2 class="text-secondary my-3">Login</h2>
                <form method="post" action="#" id="login-form">
                    <input type="text" name="userName" placeholder="Id">
                    <input type="password" name="userPassword" placeholder="Password">
                    <input type="submit" value="Login">
                </form>
                <a class="text-dark" href="#">회원가입</a>
            </div>
        </div>

        <!-- Footer Start -->
        <!--            <div class="container-fluid pt-4 px-4">-->
        <!--                <div class="bg-secondary rounded-top p-4">-->
        <!--                    <div class="row">-->
        <!--                        <div class="col-12 col-sm-6 text-center text-sm-start">-->
        <!--                            &copy; <a href="#">Your Site Name</a>, All Right Reserved. -->
        <!--                        </div>-->
        <!--                        <div class="col-12 col-sm-6 text-center text-sm-end">-->
        <!--                            &lt;!&ndash;/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/&ndash;&gt;-->
        <!--                            Designed By <a href="https://htmlcodex.com">HTML Codex</a>-->
        <!--                            <br>Distributed By: <a href="https://themewagon.com" target="_blank">ThemeWagon</a>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!-- Footer End -->
    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <!--    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>-->
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="../theme/lib/chart/chart.min.js"></script>
<script src="../theme/lib/easing/easing.min.js"></script>
<script src="../theme/lib/waypoints/waypoints.min.js"></script>
<script src="../theme/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="../theme/lib/tempusdominus/js/moment.min.js"></script>
<script src="../theme/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="../theme/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Clock -->
<script src="../js/clock.js"></script>
<!-- Template Javascript -->
<script src="../theme/js/main.js"></script>
</body>

</html>